.intro{
    color:#ecf0f1;
    text-align: center;
    margin-top: 7%;
    font-family: 'Work Sans', sans-serif;
}

.intro img{
    border-radius: 50%;
    max-width: 20%;
    max-height: 20%;
    border: 7px solid #ecf0f1;
}

body{
    background-color: #192a56;
}
a{
    color:#DDA826
}

.lista-linha {
    padding-left: 0;
    list-style: none;
}

.lista-linha li{
    display: inline-block
}

.espaco-icone {
    margin-left: 5%;
}